.bundle/
log/*.log
pkg/
vendor
db/schema.rb

spec/dummy/log/*
spec/dummy/db/schema.rb

.rvmrc
/nbproject

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

.DS_Store

.rbenv-gemsets
.ruby-version
