<!DOCTYPE html>
<html>
<head>
  <title>YfAdminBase</title>
  <%= stylesheet_link_tag    "yf_admin_base/application", media: "all" %>
  <%= javascript_include_tag "yf_admin_base/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
